name: coverage

on:
  workflow_dispatch:

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: Run coverage
        run: |
          go clean -testcache
          CGO_ENABLED=1 go test -count=1 -coverprofile=coverage.out -tags "fts5 sqlite_fts5" ./...
          go tool cover -func=coverage.out
